@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto Mono", monospace;
  background-color: #f8f9f9;
}

.bg-normal {
  background-color: #16a085;
}

.bg-warning {
  background-color: #cd6155;
}
